<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 控制台输出 -->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <Encoding>UTF-8</Encoding>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[activity-web]%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{UUID}] [%logger{50}] - %msg%n</pattern>
        </layout>
    </appender>


    <root>
        <appender-ref ref="asyncConsoleLog"/><!--输出到控制台 -->
    </root>
</configuration>